*{
	font-family: 'Inconsolata', monospace;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
a{
	color: white;
	text-decoration: none;
}

.Borda{
	border: thin solid #000;
}

.Limpador{
	clear: both;
}

#cabecalho, #rodape{
	background-color: #8FCACA;
    	padding: 20px 0;
    	text-align: center;
    	color: white;
	text-shadow: 1px 1px 2px black;
}

#limitador-cabecalho{
	width: 1000px;
	margin: 0 auto;
}

#logo{
	height: 40px;
    	text-align: center;
    	width: 130px;
	float: left;
}

#menu{
	float: right;
	margin-top: 0px;
}

.item-menu{
	margin-top: 2px;
	display: inline;
	margin-right: 50px;
	cursor: pointer;
}

#conteudo{
	width: 1000px;
	margin: 30px auto;
	min-height: 550px;
}

#limitador-rodape{
	width: 1000px;
	margin: 0 auto;
}
	

@media screen and (max-width: 1000px){
	#limitador-cabecalho, #conteudo, #limitador-rodape{
        width: 100%;
        }
}